<section>
  <h2>Paste the URL to be shortened  </h2>
  <form [formGroup]="orderForm" (ngSubmit)="generateUrl(orderForm.value)">
    <input type="url" formControlName="websiteUrl" placeholder="Enter the URL here">
    <button [disabled]="!orderForm.valid">Generate</button>
  </form>
  <div class="short-url">
    <ng-container *ngIf="showDetails">
      <p>
        <span>Your short URL is:</span>
        <br/>
        <strong style="color: #2c87c5;">{{randTxt}}</strong>
      </p>
      <button (click)="copyText()">Click to copy</button>
      <p>or scan the QR Code</p>
      <qrcode [qrdata]='myAngularxQrCode' [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ng-container>
  </div>
</section>

<!-- <ng-container *ngIf="loading">
  Loading...
</ng-container> -->
<router-outlet></router-outlet>